{% extends "base.html" %}

{% block title %}
Create Ticket Category
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header">

            Create Ticket Category

        </div>

        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                <div class="mb-3">

                    <label>
                        Category Name
                    </label>

                    <input
                        type="text"
                        name="name"
                        class="form-control"
                        required
                    >

                </div>

                <div class="mb-3">

                    <label>
                        Price
                    </label>

                    <input
                        type="number"
                        step="0.01"
                        name="price"
                        class="form-control"
                        required
                    >

                </div>

                <div class="mb-3">

                    <label>
                        Quantity
                    </label>

                    <input
                        type="number"
                        name="quantity"
                        class="form-control"
                        required
                    >

                </div>

                <button
                    type="submit"
                    class="btn btn-success"
                >
                    Create Category
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}